
<form method= "post" id= "createSection" class ="c-form">
	
  <div class="mb-3">
			<div class="input-group">
    <input type="text" class="form-control bg-dark text-light" placeholder= "Section Name" name= "section">
  <button type="submit" class="btn btn-outline-dark"  onClick="createSection()">Create Section</button>
			</div>
			</div>

</form>
	