
<form method= "post" id= "createSection" class ="c-form my-2">
	
  <div class="">
			<div class="input-group">
    <input type="text" class="form-control" placeholder= "Section Name" name= "section">
  <button type="submit" class="btn btn-outline-dark"  onClick="createSection()">Create</button>
			</div>
			</div>

</form>
	