
<form action = "/api/user/create" method= "post" id= "createUser" class ="c-form">
	
		<div class="input-group">
    <input type="text" class="form-control bg-dark text-light" placeholder= "User Name" name= "name">
<input type="password" class="form-control bg-dark text-light" placeholder= "Password" name= "password">
	</div>

		<div class="input-group">
    <input type="email" class="form-control bg-dark text-light" placeholder= "Email Address" name= "email">
	
  <button type="submit" class="btn btn-outline-dark" onClick="createUser(this.event)">Create User</button>
</div>
</form>
	