
<form method= "post" id= "createUser" class ="c-form my-2">
	
		<div class="input-group">
    <input type="text" class="form-control " placeholder= "User Name" name= "name">
<input type="password" class="form-control " placeholder= "Password" name= "password">
	</div>

		<div class="input-group">
    <input type="email" class="form-control" placeholder= "Email Address" name= "email">
	
  <button type="submit" class="btn btn-outline-dark" onClick="createUser()">Create</button>
</div>
</form>
	