
<form method= "post" id= "createSection" class ="c-form my-2">
	
  <div class="mb-3">
    <input type="text" class="form-control" placeholder= "Section Name" name= "section">
			</div>

  <div class="">
  <button type="submit" class="btn btn-info btn-block"  onClick="createSection()">Create</button>
			</div>

</form>
	