
<form action = "/api/section/create" method= "post" id= "createSection">
	
  <div class="mb-3">
    <input type="text" class="form-control" placeholder= "Section Name" name= "section">
	</div>
	
  <button type="submit" class="btn btn-primary"  onClick="createSection(event)">Submit</button>
</form>
	