

</div>


    <script>
      window.jQuery || document.write('<script src="/js/jquery-3.5.0.min.js"><\/script>')
		</script >
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/api.js" ></script>
<script src= "/js/script.js" ></script>
    </body>
</html>