<form class="search" method="post" action="index.html">
      <input type="search" name="q" placeholder="Search..." autocomplete="off">
      <ul class="search-ac">
<% sections.map((section, index) => { %>
        <li><a href="#<%= index %>">
					<%= section.name %>  #<%= index %> <br><span>Description...</span></a></li>
				<% })%>
      </ul>
					</form>