


 <div class="container section">

<div class="row">
	<div class= "text-center">
		 <h1 class= "section-name"> Main Section</h1>
	</div>
     <div class="col-md-6">
			 
<div class="card sec-card text-bg-dark mb-3" style="max-width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
		<img class= "sec-img mt-2" src= "/images/faded.jpg" >
		<hr style= "width: 50px; margin-left: 5px;" />
		
    <div class="card-text">


<div class= "sec-email d-flex" >
<p class= "sec-mail-text">
	EMAIL:  
</p>
<a href= "#" class= "sec-mail-url">
url 
</a>
</div>


<div class= "sec-pass d-flex" >
<p class= "sec-pass-text">
	PASSWORD:  
</p>
<p class= "sec-pass-val">
url 
</p>
			</div>


		</div>
	</div>
                </div>
		 </div>
				</div>