<%- include("partails/head.ejs", {
	counter: counter,
	sections: sections
}) %>
<!-- admin ui start -->

<div class="container-fluid">
	<div class= "row">
<div class= "col-md-4 mt-md-5" >
	<%- include("partails/sidebar.ejs", {
	sections: sections,
		counter: counter 
	
}) %>
	
</div>
	<div class="col-md-8 mt-md-5" >
<%- include("partails/section.ejs", {
	sections: sections
}) %>
	
	</div>
				<!-- end col 8 -->
		
</div>


</div>

	<!-- end  ui -->

<%- include("partails/footer.ejs") %>

